<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :username  %>
  <%= f.input :email  %>
  <%= f.input :password  %>
  <%= f.input :password_confirmation  %>
  <br />
  <%= f.input :setor,:label => "Setor:", :collection => User::SETOR  %>
 
  <% for role in User::ROLES %>
  <%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
  <%=h role.humanize %><br />
<% end %>
<%= hidden_field_tag "user[roles][]", "" %>
  <%= f.button :submit  %>
<% end %>

<%= render :partial => "devise/shared/links" %>
